html, body, #mapDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    z-index: 0;
}

#buttonPanel {
    position: absolute;
    top: 20px;
    left: 65px;
    z-index: 1;
}

.panelButton {
    padding: 0;
    margin: 0;
    width: 98px;
    height: 51px;
/*
    background-position: -3px;
    background-image: url("resources/bussbild.png");
*/
    border: 1px solid #000000;
}

.panelButton_hiking {
    width: 32px;
    height: 32px;
    background-image: url("resources/hiking.png");
    border: 0px;    
}

.panelButton_biking {
    width: 32px;
    height: 32px;
    background-image: url("resources/bike.png");
    background-repeat: no-repeat;
    background-position: top 9px right 4px;
    border: 1px solid #000000;    
}

.panelButton_canoeing {
    width: 32px;
    height: 32px;
    background-image: url("resources/canoeing.png");
    background-repeat: no-repeat;
    border: 1px solid #000000;        
}

.panelButton_POI {
    padding: 0;
    margin: 0;
    width: 98px;
    height: 51px;
}

/* Navbar */
.navbar {
    display: flex;
    background-color: #f0ffff;
    border: 1px solid #000000;
}

.navbarItem {
    list-style-type: none;
}

.navbarItem:not(:first-child) {
    margin-left: 25px 
}

/* dropdown */
.dropdown {
    cursor: pointer;
    user-select: none;
    list-style-type: none;
}

.mydropdownMenu {
    display: none;
    background-color: #f0ffff;
    position: absolute;
    margin-left: -3px;
    padding-left: 5px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.mydropdownMenu li {
    list-style-type: none;
    padding-right: 10rem;
}

/* Petters CSS */
#buttonToolbar {
    background-color: beige;
    border: solid 2px black;
    opacity: 90%;
    /*position: absolute;*/
    z-index: 1;
    margin-left: 1%;
    margin-top: 6%;
    padding: 5px;
  }
  
  .filtreraPanel button {
   background-color:green;
   border: 2px solid black;
   color:red;
   padding: 10px;
   cursor: pointer;
   display: block;
   margin: 5px;
  }
  
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"][id="gångväg"] + label {
    background: url("resources/walking.png") no-repeat;
    display: block;
    height: 40px;
    width: 40px;;
    background-size: 100%;
    padding-top: 5px;
    
  }
  
  input[type="checkbox"][id="gångväg"]:checked + label {
    background: url("resources/walkingSorted.png") no-repeat;
    height: 40px;
    width: 40px;
    display:block;
    background-size: 100%;
  }
  
  input[type="checkbox"][id="kanotled"] + label {
    background: url("resources/kanot.png") no-repeat;
    display: block;
    height: 40px;
    width: 40px;;
    background-size: 100%;
    padding-top: 5px;
  }
  
  input[type="checkbox"][id="kanotled"]:checked + label {
    background: url("resources/kanotSorted.png") no-repeat;
    height: 40px;
    width: 40px;
    display:block;
    background-size: 100%;
  }
  input[type="checkbox"][id="cykelled"] + label {
    background: url("resources/bike.png") no-repeat;
    display: block;
    height: 40px;
    width: 40px;;
    background-size: 100%;
    padding-top: 5px;
  }
  
  input[type="checkbox"][id="cykelled"]:checked + label {
    background: url("resources/bike.png") no-repeat;
    height: 40px;
    width: 40px;
    display:block;
    background-size: 100%;
  }
  input[type="checkbox"][id="rastplats"] + label {
    background: url("resources/picnic.png") no-repeat;
    display: block;
    height: 40px;
    width: 40px;;
    background-size: 100%;
    padding-top: 5px;
  }
  
  input[type="checkbox"][id="rastplats"]:checked + label {
    background: url("resources/rastplatsSorted.png") no-repeat;
    height: 40px;
    width: 40px;
    display:block;
    background-size: 100%;
  }
  input[type="checkbox"][id="sovplatser"] + label {
    background: url("resources/overnattning.png") no-repeat;
    display: block;
    height: 40px;
    width: 40px;;
    background-size: 100%;
    padding-top: 5px;
  }
  
  input[type="checkbox"][id="sovplatser"]:checked + label {
    background: url("resources/overnattningSorted.png") no-repeat;
    height: 40px;
    width: 40px;
    display:block;
    background-size: 100%;
  }